<div id='header' class='header'>

</div>

<table style="width:100%;" class='table'>
  <thead style="background:#fc0">
    <td></td>
    <td>Name</td>
    <td>FirstName</td>
    <td>Email</td>
    <td>Phone</td>
    <td>Plaats van onderwijs</td>
    <td>Opleiding</td>
    <td>Resterend aantal studiejaren</td>
    <td>Motivation</td>
  </thead>
  <tbody>
    <% @motivations.each do |m| %>
      <tr>
        <td><%= m.created_at %></td>
        <td><%= m.name %></td>
        <td><%= m.firstname %></td>
        <td><%= m.email %></td>
        <td><%= m.phone %></td>
        <td><%= m.school %></td>
        <td><%= m.opleiding %></td>
        <td><%= m.studyyears %></td>
        <td><%= m.motivation %></td>
      </tr>
    <% end %>
  </tbody>
</table>
