<div id='top' class='header hero is-fullheight'>
  <div class='hero-body'>
    <div class='container'>
      <div class='columns'>
        <div class='column has-text-centered'>
          <h1>Join the 12ul</h1>
          <a class='button is-info' href='/#info'>Meer info</a>
        </div>
        <div class='column'>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='info' class='hero is-fullheight is-bold bsa'>
  <div class='hero-body'>
    <div class='container'>
      <div class='columns'>
        <div class='column is-12'>
          <h1 class='has-text-centered'>Waarom 12urenloop<h1>
        </div>
      </div>

      <div class='columns has-text-centered reasons'>
        <div class='column'>
          <span class='icon'>
            <i class='fa fa-users'></i>
          </span>
          <h3>Werk samen met een hoop andere gedreven studenten</h3>
          <h4>Het 12urenloop comité is volledig gevormd uit studenten<br /> die zich vrijwillig inzetten.</h4>
        </div>

        <div class='column'>
          <span class='icon'>
            <i class='fa fa-star'></i>
          </span>
          <h3>Echte ervaring</h3>
          <h4>Krijg zelf de verantwoordelijkheid over een deel van het evenement,<br /> en breng dit tot een goed einde.</h4>
        </div>

        <div class='column'>
          <span class='icon'>
            <i class='fa fa-calendar'></i>
          </span>
          <h3>Het sportieve evenement van het jaar</h3>
          <h4>Geniet van de voldoening die het tot stand brengen <br />van het grootste sportieve event van Gent, met zich meebrengt.</h4>
        </div>
      </div>

      <div class='columns divider-wrapper'>
        <div class='column is-12 divider'>
        </div>
      </div>

      <div class='columns passions is-multiline is-centered has-text-centered'>
        <div class='column is-12'>
          <h1 class='has-text-centered'>Teams<h1>
        </div>
        <div class='column is-3'>
          <%= image_tag 'teams/beverages.jpg' %>
          <h2>Beverages</h2>
        </div>
        <div class='column is-3'>
          <%= image_tag 'teams/partners.jpg' %>
          <h2>Partners</h2>
        </div>
        <div class='column is-3'>
          <%= image_tag 'teams/site.jpg' %>
          <h2>Site</h2>
        </div>
        <div class='column is-3'>
          <%= image_tag 'teams/mc.jpg' %>
          <h2>Marketing & Communications</h2>
        </div>
        <div class='column is-3'>
          <%= image_tag 'teams/ra.jpg' %>
          <h2>Run & Animation</h2>
        </div>
        <div class='column is-3'>
          <%= image_tag 'teams/fa.jpg' %>
          <h2>Finance & Administration</h2>
        </div>
        <div class='column is-3'>
          <%= image_tag 'teams/it.jpg' %>
          <h2>IT</h2>
        </div>
      </div>

      <div class='columns divider-wrapper'>
        <div class='column is-12 divider'>
        </div>
      </div>

      <div class='columns is-multiline is-centered has-text-centered'>
        <div class='column is-12'>
          <h1 class='has-text-centered'>Nog vragen</h1>
          <%= link_to 'Stuur een mailtje', 'mailto:info@12urenloop.be', class: 'button is-info' %>
        </div>
      </div>
    </div>
  </div>
</div>
