<div id='home'>
</div>
<%= render 'header' %>

<a href="#home" class="scrollToTop fa fa-angle-double-up" title='Go to top'></a>

<div id='realhome' class='hero is-fullheight'>
  <div class='has-text-centered'>
    <h1> Join the 12ul crew </h1>
  </div>

  <div id='algemeen' class='container main-content is-bold'>
    <div>
      <p class='fancy-font padded'>
        Ready! Set! Go! Zo moet het startschot ongeveer klinken van een weer magische editie van de Gentse 12urenloop. En daarvoor hebben we jou nodig.
        Wij zoeken enthousiaste studenten die mee hun schouders zetten onder dit fantastische evenement. Grijp je kans en schrijf je in!
      </p>

    </div>
            <div class='columns is-vcentered'>
              <div class='column fancy-font profile'>

                <h4>Waarom 12urenloop?</h4>
                <p class='fancy-font'>
                  Dit sportief hoogtepunt van het jaar is NIET-TE-MISSEN voor liefhebbers van events.
                  De combinatie van sport én feest zorgt voor de ideale gelegenheid om ontzettend veel bij te leren en ervaring op te doen.
                  Bezorg de bezoekers, samen met een fantastisch team, een onvergetelijke ervaring.
                  Plezier en vrienden maken, terwijl je ervoor zorgt dat duizenden studenten dit ook kunnen doen. Geweldig toch?!
                </p>
                <div class='columns divider-wrapper'>

                </div>

                <h4>Jouw Profiel:</h4>
                <p class='fancy-font'>
                  Voor wie? Natuurlijk is iedereen welkom, niet enkel lopers die in 38” een rondje kunnen lopen.
                  Een gezonde portie motivatie, enthousiasme en interesse in evenementen kunnen van pas komen.
                  Steek je ook nog eens graag de handen uit de mouwen?
                  Dan ben jij de ideale persoon om ons team te vervolledigen!
                  Twijfel niet langer en schrijf je in, we kunnen niet wachten om je te ontmoeten.
                </p>
                <br>
                <p class="padded fancy-font">
                  Krachtig werkpaard, Social Media expert, logistieke bolleboos of creatieve duizenpoot? Wij zoeken verschillende profielen.
                  Heb je nog vragen? Neem dan contact op via <%= link_to 'info@12urenloop.be', 'mailto:info@12urenloop.be', title: 'info@12urenloop.be' %>
              </p>

              <div id='button-div' class='button-div has-text-centered'>
                  <a class='button is-12ul2' href='/#teams'>Meer info</a>
              </div>

            </div>
            <div id="inschrijven" class='column'>
                  <%= render 'form' %>
            </div>
        </div>
      </div>

</div>

<div id='teams' class='container main-content is-bold bsa'>
  <div class="container main-content bsa">
  <div class="video-wrapper">
    <iframe id='home-video' width="800" height="450" src="https://www.youtube-nocookie.com/embed/MTCcTjC-kTQ?si=QllP_YWQm_6YN5RT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  </div>
    <div class='columns'>
      <div class='column is-12'>
        <h1 class='has-text-centered'>
          De Teams
        </h1>
        <p class='fancy-font'>
          Hieronder vind je een overzicht van de verschillende teams en een korte beschrijving van hun voornaamste takenpakket.
          Het is natuurlijk meer dan deze paar lijntjes maar het geeft je alvast een idee. <br/>
          Heb je nog vragen? Aarzel niet om ons te contacteren, we geven je graag meer uitleg want misschien ben jij echt wel het talent dat we zoeken.
        </p>
      </div>
    </div>

          <div class='container team-content'>
            <div id='ra' class='message'>
              <div class='message-header has-text-centered'>
                <message-title class="grayscale">Team R&A</message-title>
                <a class='button is-12ul bg-blue' href='/#home'>Inschrijven</a>
              </div>
              <div class='message-body team-message is-multiline is-centered'>

                <div class='columns is-vcentered'>
                <div class='column is-5'>
                  <%= image_tag 'teams/ra.jpg' %>
                </div>
                <div class='column'>
                  Team Run&Animation, afgekort tot R&A, staat in voor alles wat te maken heeft met het lopen en de sfeer errond. Whoehoe!
                  Je staat in voor de speciale rondes en leidt deze in goede banen. Lopen is belangrijk, maar de sfeer errond ook dus je voorziet de nodige randactiviteiten.

                  <ul>
                    <li class='message-list'>
                      <list-item>
                        Speciale Rondes
                      </list-item>
                      <br/>
                      Je bent mee verantwoordelijk voor de uitwerking van de speciale rondes en bijhorende prijzen.
                      Naast de klassiekers, zoals draag-de-praeses en de Julientjes ronde, is er natuurlijk ruimte voor vernieuwing. Wees creatief en bedenk de gekste (maar veilige) uitdagingen.
                    </li>

                      <li class='message-list'>
                      <list-item>
                        Animatie
                      </list-item>
                      <br/>
                      Jouw taak is ervoor zorgen dat niemand zich verveelt.
                      Maak van het terrein een mini pretpark waar veel te beleven valt in een aangename setting.
                      Ga op zoek naar leuke activiteiten of standen die een leuke afwisseling vormen voor het lopen.
                    </li>
                  </div>
                </div>
                </div>
              </div>


            <div id='beverages' class='message'>
              <div class='message-header has-text-centered'>
                <message-title class="grayscale">Team Beverages</message-title>
                <a class='button is-12ul bg-blue' href='/#home'>Inschrijven</a>
              </div>
              <div class='message-body team-message is-multiline is-centered'>

                  <div>
                    Lopers verliezen liters vocht en dat kan niet gezond zijn! Help jij mee de dorst te lessen?
                    Om helemaal zot te doen kun je naar het schijnt elk uur een happy-hour inlassen.
                  </div>
                  <div class='columns is-vcentered'>
                  <div class='column'>
                  <ul>
                    <li class='message-list'>
                      <list-item>
                        Drank
                      </list-item>
                      <br/>
                      Met je team stel je de drankkaart samen en probeer je de beste deals te sluiten. Natuurlijk moet deze drank tijdig op het terrein en in de koeling terecht komen.
                      Je maakt dan ook duidelijke afspraken met de brouwer en andere leveranciers.
                    </li>
                    <li class='message-list'>
                      <list-item>
                        Logistiek
                      </list-item>
                      <br/>
                      Elke kring richt zijn eigen fakbar in. Jij zorgt voor hun bestelling van A-Z. Tijdens het event zorg je voor een vlotte afhaling en terugname.
                    </li>
                    <li class='message-list'>
                      <list-item>
                        Barverantwoordelijke
                      </list-item>
                      <br/>
                      Ook de 12urenloop zet zijn bar op en die moet natuurlijk gerund worden.
                      Als barverantwoordelijke zorg je voor de nodige mankracht en hou je de boel draaiend.
                    </li>
                  </ul>
                </div>
                <div class='column is-5'>
                  <%= image_tag 'teams/beverages.jpg' %>
                </div>
            </div>
          </div>
        </div>




            <div id='site' class='message'>
              <div class='message-header has-text-centered'>
                <message-title class="grayscale">Team Site</message-title>
                <a class='button is-12ul bg-blue' href='/#home'>Inschrijven</a>
              </div>
              <div class='message-body team-message is-multiline is-centered'>

                  <div class='columns is-vcentered'>
                    <div class='column is-5'>
                        <%= image_tag 'teams/site.jpg' %>
                      </div>
                  <div class='column'>
                    Team Site zorgt ervoor dat het Sint-Pietersplein omgetoverd wordt tot het perfecte loopparcour.
                    Ze zoeken de beste leveranciers en verzorgen de opbouw, van hekwerk tot podium.
                    Ben jij de handige harry van de familie of sleur je gewoon graag eens met zware dingen? Inschrijven is de boodschap!

                  <ul>
                    <li class='message-list'>
                      <list-item>
                        Plan
                      </list-item>
                      <br/>
                      Alles begint natuurlijk met een plan. Stel een lijst van benodigdheden op en ga op zoek naar mogelijke leveranciers.
                      Je houdt de benodigdheden van elk kring bij en geeft alles zijn plek.
                    </li>

                    <li class='message-list'>
                      <list-item>
                        Opbouw en afbouw
                      </list-item>
                      <br/>
                      Je zorgt ervoor dat je leveringen mooi op tijd aankomen en bouwt samen met de rest van de crew het plein om tot loopparcour.
                    </li>
                  </ul>
              </div>
            </div>
          </div>
          </div>


          <div id='partners' class='message'>
            <div class='message-header has-text-centered'>
              <message-title class="grayscale">Team Partners</message-title>
              <a class='button is-12ul bg-blue' href='/#home'>Inschrijven</a>
            </div>
            <div class='message-body team-message is-multiline is-centered'>
              <div class='columns'>
                <div class='column'>
                  Een podium in ware Tomorrowland stijl? Het terrein omgetoverd in het strand van Ibiza? Alle dagen eten van een sterrenchef?
                  Graag! Alleen is daar het nodige budget voor nodig.
                <ul>
                  <li class='message-list'>
                    <list-item>
                      Commerciële Partners
                    </list-item>
                    <br/>
                    Ga mee op zoek naar sponsoring. Hoe meer jij binnenhaalt, hoe beter deze editie van de 12urenloop zal worden.
                    Dus kun jij een leisteen verkopen als tablet van de toekomst?
                    Verkoop de 12urenloop, verkoop visibiliteit en breng geld in het laadje.
                  </li>
                </ul>
              </div>
              <div class='column is-5'>
                <%= image_tag 'teams/partners.jpg' %>
              </div>
            </div>
          </div>
          </div>

          <div id='mc' class='message'>
            <div class='message-header has-text-centered'>
              <message-title class="grayscale">Team PR</message-title>
              <a class='button is-12ul bg-blue' href='/#home'>Inschrijven</a>
            </div>
            <div class='message-body team-message is-multiline is-centered'>

              <div>
                Communication is key! Zowel intern als extern passeren er heel wat berichten dus iemand moet er voor zorgen dat alles iet of wat op de juiste plek terecht komt.
</div>
                <div class='columns is-vcentered'>
                  <div class='column is-5'>
                    <%= image_tag 'teams/mc.jpg' %>
                  </div>
                  <div class='column'>
                <ul>
                  <li class='message-list'>
                    <list-item>
                      Social Media
                    </list-item>
                    <br/>
                    Hebben Facebook, Instagram en andere geen geheimen voor jouw? Weet jij volgers te bereiken?
                    Dan ben jij misschien de persoon die we zoeken. Neem onze social media kanalen onder je hoede en hou onze volgers constant op de hoogte.
                  </li>
                  <li class='message-list'>
                    <list-item>
                      Communicatie/Marketing
                    </list-item>
                    <br/>
                    Hou de deelnemende teams op de hoogte van diverse zaken zoals de speciale rondes of na te leven afspraken.
                    Tevens vorm je hun voornaamste aanspreekpunt. Daarnaast is er natuurlijk ook de communicatie naar de buren en veel meer.
                  </li>
                  <li class='message-list'>
                    <list-item>
                      Design
                    </list-item>
                    Gezocht: creative geesten met design talent om deze editie van de beste ontwerpen te voorzien, zowel voor de aankleding op het terrein als de online campagne.
                    Ben jij de photoshop master die de 12urenloop doet blinken?
                  </li>
                </ul>
              </div>
            </div>
          </div>
          </div>

          <div id='fa' class='message'>
            <div class='message-header has-text-centered'>
              <message-title class="grayscale">Team Finance</message-title>
              <a class='button is-12ul bg-blue' href='/#home'>Inschrijven</a>
            </div>
            <div class='message-body team-message is-multiline is-centered'>


              <div class='columns'>
                <div class='column'>
                Facturen en bonnekes, ze zijn zo belangrijk maar ook zo gemakkelijk om kwijt te raken.
                Help mee de papierwinkel op orde te houden en hou de financiële stand van zaken in het oog.

                <ul>
                  <li class='message-list'>
                    <list-item>
                      Boekhouding
                    </list-item>
                    <br/>
                    Ook als vzw zijn wij btw-plichtig en dus is een correcte boekhouding belangrijk. Hou alles netjes bij in een handig overzicht, dat vermakkelijkt het werk.
                  </li>
                </ul>
              </div>
              <div class='column is-5'>
                <%= image_tag 'teams/fa.jpg' %>
              </div>
            </div>
            </div>
          </div>

          </div>
        </div>

  <%= render "footer" %>
