<div id='top' class='header hero is-fullheight'>
  <div class='hero-body'>
    <div class='container'>
      <div class='columns'>
        <div class='column has-text-centered'>
          <h1 class='text-shadow'>Join the 12ul</h1>
          <a class='button is-info' href='/#info'>Meer info</a>
        </div>
        <div class='column'>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='info' class='hero is-fullheight is-bold bsa'>
  <div class='hero-body'>
    <div class='container'>
      <div class='columns'>
        <div class='column is-12'>
          <h1 class='has-text-centered'>Waarom 12urenloop<h1>
        </div>
      </div>

      <div class='columns has-text-centered reasons'>
        <div class='column'>
          <span class='icon'>
            <i class='fa fa-users'></i>
          </span>
          <h3>Werk samen met een hoop andere gedreven studenten</h3>
          <h4>Het 12urenloop comité bestaat uitsluitend uit studenten<br /> die zich vrijwillig inzetten.</h4>
        </div>

        <div class='column'>
          <span class='icon'>
            <i class='fa fa-star'></i>
          </span>
          <h3>Echte ervaring</h3>
          <h4>Krijg zelf de verantwoordelijkheid over een deel van het evenement,<br /> en breng dit tot een goed einde.</h4>
        </div>

        <div class='column'>
          <span class='icon'>
            <i class='fa fa-calendar'></i>
          </span>
          <h3>Het sportieve evenement van het jaar</h3>
          <h4>Geniet van de voldoening die het tot stand brengen <br />van het grootste sportieve event van Gent, met zich meebrengt.</h4>
        </div>
      </div>

      <div class='columns divider-wrapper'>
        <div class='column is-12 divider'>
        </div>
      </div>

      <div class='columns passions is-multiline is-centered has-text-centered'>
        <div class='column is-12'>
          <h1 class='has-text-centered'>Teams<h1>
        </div>
        <div class='column is-3'>
          <%= image_tag 'teams/beverages.jpg' %>
          <h2>Beverages</h2>
	  <h4>Mensen die afzien van het vele lopen is iets, mensen die afzien van de dorst is ronduit onaanvaardbaar. Help jij de dorst lessen?</h4>
        </div>
        <div class='column is-3'>
          <%= image_tag 'teams/partners.jpg' %>
          <h2>Partners</h2>
          <h4>Kan je het goed uitleggen en jezelf verkopen? Help mee de nodige partners en sponsers binnen te halen.</h4>
        </div>
        <div class='column is-3'>
          <%= image_tag 'teams/site.jpg' %>
          <h2>Site</h2>
          <h4>Zoek mee naar leveranciers voor al het materieel of help mee het Sint-Pieters Plein om te toveren in een loopcircuit.</h4>
        </div>
        <div class='column is-3'>
          <%= image_tag 'teams/mc.jpg' %>
          <h2>Marketing & Communications</h2>
          <h4>In de voorbereiding en tijdens het event hou je de wereld op de hoogte van wat er op het terrein zal gebeuren.</h4>
        </div>
        <div class='column is-3'>
          <%= image_tag 'teams/ra.jpg' %>
          <h2>Run & Animation</h2>
          <h4>Zorg ervoor dat de mensen zich niet vervelen. Maak van het terrein een mini pretpark waar veel te beleven valt in een aangename setting.</h4>
        </div>
        <div class='column is-3'>
          <%= image_tag 'teams/fa.jpg' %>
          <h2>Finance & Administration</h2>
          <h4>Hou overzicht in de berg papieren en zorg ervoor dat alle facturen tijdig betaald worden.</h4>
        </div>
        <div class='column is-3'>
          <%= image_tag 'teams/it.jpg' %>
          <h2>IT</h2>
          <h4>Manueel tellen is zo jaren 90. Hou jij mee het telsysteem draaiende of de site up-to-date?</h4>
        </div>
      </div>

      <div class='columns divider-wrapper'>
        <div class='column is-12 divider'>
        </div>
      </div>

      <div class='columns is-multiline is-centered has-text-centered'>
        <div class='column is-12'>
          <h1 class='has-text-centered'>Nog vragen</h1>
          <%= link_to 'Stuur een mailtje', 'mailto:info@12urenloop.be', class: 'button is-info' %>
        </div>
      </div>
    </div>
  </div>
</div>
