<!DOCTYPE html>
<html>
  <head>
    <title>Join the 12urenloop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta property="og:title" content="Join the 12urenloop" />
    <meta property="og:url" content="http://join.12urenloop.be" />
    <meta property="og:description" content="Help mee de 12urenloop tot een goed einde te brengen!" />
    <meta property="og:image" content="<%= image_url 'background.jpg' %>" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
